<!DOCTYPE html>
<html>

<head>
    <title>MessWala Menu Upload</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <form action="/parseMenu" method="post" enctype="multipart/form-data" class="inputForm">
        <h1>Menu Parser</h1>
        Upload a clear image of the menu:
        <input type="file" name="menu" id="fileToUpload">
        <div style="color: red;">
            {{ error }}
        </div>
        <br>
        <input type="submit" value="Upload Image" name="submit">
        <a href="/" style="color: black;">Back to Home</a>
    </form>
</body>

</html>